<?xml version="1.0" encoding="$outputEncoding"?>
#parse("messages/ChangeMessages.vm")
$engine.info("--- rapport Incident ws --- mode=$mode")
#set ($ei = $cmdb.getCMDBService($mode))
#if( "$ei" != "" )
	#set ($testString = $ei.report(""))
	<results>
		<status>ok</status>
		<message>Succesfull Export</message>
	</results>
#else
	$engine.error("--- rapport Incident ws --- NO MODE SET using ExportIncident default")
	<results>
		<status>notok</status>
		<message>Export not found</message>
	</results>
#end
