#set ($rs = $cmdb.getCMDBService("ResourcesService"))
#set ($pageTitle = $rs.getProperty("ConfigurationManagement","page.title"))

#parse("ConfigurationManagement/tools/DeckTools.vtl")
#set ($userRole = $cmdb.getLoggedUserRole().getName())
#set ($refreshAuto = false)
#if($userRole == "Supervision")
    #set ($refreshAuto = true)
#else
    #set ($refreshAutoConstraint = "XPF_CONSTRAINT_REFRESH_AUTO_HOMEPAGE")
    #checkForConstraint($refreshAutoConstraint)
    #set ($refreshAuto = $hasConstraint)
#end

$engine.info("-- ni2home -- refreshAuto=$refreshAuto")

#macro (sessionWidget $homeEntry)
    <div class="widget">
        <div class="widget-header">
            <h5>$homeEntry.label</h5>
        </div>
        <div class="widget-body">
            <p><label>$i18n.get("logged.user") :</label> $cmdb.getLoggedUserName()</p>
            <p><label>$i18n.get("logged.role") :</label> $cmdb.getLoggedUserRole().getName()</p>
            <p><label>$i18n.get("active.env") :</label>
                #if ($envKey)
                #if ($event)
                <a style="color: black;" href="#&forwardTitle=$!pageTitle&vtlAccessEnvName=$!vtlAccessEnvName&forwardContextId=$engine.toString($event.getManagedEntityKey())" onClick="RunN('ConfigurationManagement/catalog/cat-item-configuration', 'contextId', '$event.getManagedEntityKey()'); startWorkingMode();">$CHEBO.getName()</a>
                #else
                <a style="color: black;" href="#" onClick="RunN('ConfigurationManagement/change-environment/che-list', 'selectedEnvKey', '$envKey'); startWorkingMode();">$CHEBO.getName()</a>
                #end
                #else
                $envName
                #end
            </p>
        </div>
    </div>
#end
#macro (versionsWidget $homeEntry)
    <div class="widget">
        <div class="widget-header">
            <h5>$homeEntry.label</h5>
        </div>
        <div class="widget-body">
            #set ($ds = $cmdb.getCMDBService("DeploymentService"))
            <p><label>Ni2 Platform :</label> $ds.getPlatformVersionString()</p>
            #set ($applications = $ds.getDeployedApplicationConfiguration())

            #foreach ($application in $applications)
            <p><label>$application.getAuthor() $application.getName() :</label> $application.getVersionString()</p>
            #end
        </div>
    </div>
#end
#macro (historyWidget $homeEntry)
    <div class="widget">
        <div class="widget-header">
            <h5>$homeEntry.label</h5>
        </div>
        <div id="historyDiv" class="widget-body">
            <iframe id="widget-history" name="widget-history" src="about:blank"></iframe>
            </fieldset>
            <script>
                $(document).ready(function() {
                    vtl = new VTLAccess('home/homeHistory.html');
                    var src = vtl.url();
                    $('#widget-history').attr('src', src);
                });
            </script>
        </div>
    </div>
#end

#macro (bookmarksWidget $homeEntry)
    <div class="widget">
        <div class="widget-header">
            <h5>$homeEntry.label</h5>
        </div>
        <div class="widget-body">
            #set ($shortcuts = $cmdb.listShortcuts())
            #set($visibilityMap = $cmdb.getCMDBService("FilteringConfigurationService").getVisibilityMap($shortcuts))
            #foreach($item in $shortcuts)
            #if($visibilityMap.get($item.getManagedEntityKey()) == "VISIBLE" && $engine.isInstanceOf($item, "com.ni2.cmdb.core.InstanceItemValue"))
            #set ($type = $nql.getType($item))
            #set ($specIcon = $engine.getClassificationIcon($nql.getClassification($item)))
            <p><img src="$specIcon" width="20"/> <label>$type.name :</label> <a href="#&forwardTitle=$!pageTitle&vtlAccessEnvName=$!vtlAccessEnvName&forwardContextId=$engine.toString($item)" onclick="
                                    vtl = new VTLAccess('ConfigurationManagement/catalog/cat-item-configuration');
                                    vtl.get({'itemId':'$engine.toString($item)'});
                                    ">$item.Name</a>
                <img src="/img/bookmark_empty.png" height="20" onclick="
                                    vtl = new VTLAccess('home/shortcuts-ws');
                                    vtl.ajax({'mode':'removeShortcut', 'itemId':'$item.getManagedEntityKey()'},function(){
                                        window.location.reload();
                                    });
                                ">
            </p>
            #end
            #end
        </div>
    </div>
#end
#macro (velocityWidget $homeEntry, $i)
    #set ($class = "widget")
    #if ($homeEntry.getSize() == "full")
        #set ($class = $class.concat(" widget_size_full"))
    #end
    #set ($vel = $fs.getVelocity($homeEntry.id))

    <div class="$class" #if ($vel.height) style="height:$vel.height" #end>
        <div class="widget-header">
            <h5>$homeEntry.label</h5>
        </div>
        <div class="widget-body">
            <iframe id="widget-velocity$i" name="widget-velocity$i" src="about:blank" onload="resizeWidget$i(this)"></iframe>
                </fieldset>
                <script>
                    function resizeWidget$i(iframe) {
                        iframe.style = "height: " + iframe.contentWindow.document.body.scrollHeight + "px";
                    }

                    var loaded$i = false;
                    $(document).ready(function() {
                        vtl = new VTLAccess('$vel.pageName');
                        var parameters = {'contextId':'$itemId'
                        #foreach ($arg in $vel.getArguments())
                            #set($argValue="")
                            #if ($arg.getParameterName())
                                #set($argValue=$vtlContext.get($arg.getParameterName()))
                                #set($argValue=$!argValue.replace("'","\'"))
                                #set($argValue=$!argValue.replace('"',"&quot;"))
                            #else
                                #set($argValue = $arg.getValue())
                                #set($argValue=$!argValue.replace("'","\'"))
                                #set($argValue=$!argValue.replace('"',"&quot;"))
                            #end
                            ,'$arg.getName()':'$!argValue'
                        #end
                        };
                        var src = vtl.url(parameters);
                        $('#widget-velocity$i').attr('src', src);
                    });
                </script>
        </div>
    </div>
#end
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 TRansitional//EN">
<HTML>
    <HEAD>
        <meta http-equiv=Content-Type content="text/html; charset=$outputEncoding">
        <META http-equiv="Cache-Control" content="no-cache">
        <META http-equiv="Pragma" content="no-cache">
        <META http-equiv="Expires" content="0">
        <TITLE>Ni2 HTML Reporting</TITLE>

        <script>var vtlAccessEnvName="#if ($vtlAccessEnvName && $vtlAccessEnvName != 'undefined')$vtlAccessEnvName#end"</script>
        <script type="text/javascript" src="/js/VTLAccess.js"></script>
        <script type="text/javascript" src="/js/ajax.js"></script>
        <script type="text/javascript" src="/js/jquery-ui/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/js/ni2/util.js"></script>
        <script type="text/javascript" src="/js/jquery-ui/jquery-ui-1.8.14.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui/jquery.metadata.js"></script>
        <script type="text/javascript" src="/js/jquery-ui/jquery.jqGrid.min.js"></script>
        <script>var language = "$locale";var dateFormat = "$engine.getDefaultFormatDate()";</script>
        <script>#set($rsSep=$cmdb.getCMDBService("ResourcesService"))#set($csvConfSeparator=$rsSep.getProperty("ConfigurationManagement","csv.separator"))var csvConfSeparator = "$!csvConfSeparator";</script><script type="text/javascript" src="/js/ni2/jq-util.js"></script>
        <script type="text/javascript" src="/js/ni2/jqueryExportTable.js"></script>



        <link rel="stylesheet" type="text/css" href="/css/jquery-ui/ui.jqgrid.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui/jquery-ui-1.8.14.custom.css" media="all">
        <link rel="stylesheet" type="text/css" href="/css/ni2.css">
        <link rel="stylesheet" type="text/css" href="/css/application.css" media="all">
        <link rel="stylesheet" type="text/css" href="/css/ni2/ni2home.css">
        <script>
            #if ($refreshAuto)
                setTimeout(function() {
                    location.reload();
                }, 30000);
            #end
        </script>

    </HEAD>
    #set ($fs = $cmdb.getCMDBService("FeatureService"))
    #set ($homeEntries = $fs.getHomeEntries())
    #set ($homeDependencies = $fs.getHomeDependencies())
    #set ($item = $cmdb.getLoggedActor())
    #set ($itemId = $item.getManagedEntityKey())
    #set ($env = $cmdb.getActiveEnvironment())
    #if ($engine.isInstanceOf($env, "com.ni2.cmdb.core.ChangeEnvironment"))
    #set ($CHEBO = $env)
    #set ($envKey = $CHEBO.getBusinessIdentifier().toString())
    #set ($envName = $CHEBO.getDescription())
    #set ($event = $CHEBO.getRelatedEvent())
    #else
    #set ($envName =$env.getName())
    #end

    <BODY onload="stopWorkingMode()">
        <h1>Hello $cmdb.getLoggedUserName()</h1>
        <div class="container">
            #set ($i = 0)
            #foreach ($homeEntry in $homeEntries)
                #if ($homeEntry.type == "session")
                    #sessionWidget($homeEntry)
                #elseif ($homeEntry.type == "versions")
                    #versionsWidget($homeEntry)
                #elseif ($homeEntry.type == "history")
                    #historyWidget($homeEntry)
                #elseif ($homeEntry.type == "bookmarks")
                    #bookmarksWidget($homeEntry)
                #elseif ($homeEntry.type == "velocity")
                    #velocityWidget($homeEntry, $i)
                #end
                #set ($i = $i + 1)
            #end

            #set ($hasDependencies = $homeDependencies.size() > 0)
            #if ($hasDependencies == true)
                #dependencies($item, $hasDependencies, $homeDependencies)
            #end
        </div>
    </BODY>
</HTML>
